h1{
    color: palevioletred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container{
    background-color: rgba(6, 175, 253, 0.493);
}

.description{
    text-align: center;
    color:rgb(3, 3, 51);
    font-size: 2vw;
}

.secondary-container{
    background-color: rgba(253, 6, 199, 0.938);
    color: aliceblue;
    text-align: center;
    padding-bottom: 1vh;
}

.secondary-container h1{
    color: antiquewhite;
}
