<div class="secondary-container">
    <h1>Registro estudiante</h1>
    <div class="input-div">
        <label>Nombre</label>
        <input type="text" >
    </div>
    <div class="input-div">
        <label>Apellido</label>
        <input type="text" >
    </div>
    <div class="input-div">
        <label>Fecha Nacimiento</label>
        <input type="date" >
    </div>
    <button class="form-button">Guardar</button>
</div>